@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h2>SWE 6633 - Summer 2020 (Group 2)</h2>
    <p>
        <img class="card-img" src="~/images/KennesawStateLogo.jpg" />
    </p>
</div>

<div class="row mb-3">
    <div class="col-md mt-3 mb-3">
        <div class="k-card">
            <div class="k-card-header">
                Jonathan Gamble (Project Lead)
            </div>
            <div class="k-card-body">
                <p>Software Engineer from Orlando, FL with a Bachelor's degree in Computer Science pursuing a Master's in Software Engineering.</p>
            </div>
            @*<div class="k-card-actions">
                <span class="k-button k-flat k-primary">Action 1</span>
                <span class="k-button k-flat k-primary">Action 2</span>
            </div>*@
        </div>
    </div>
    <div class="col-md mt-3 mb-3">
        <div class="k-card">
            <div class="k-card-header">
                Rich Cohen
            </div>
            <div class="k-card-body">
                <p>Electrical Engineer at Georgia Tech Research Institute pursuing a graduate MSAE-E degree to accrue knowledge to apply to his research.</p>
            </div>
            @*<div class="k-card-actions">
                <span class="k-button k-flat k-primary">Action 1</span>
                <span class="k-button k-flat k-primary">Action 2</span>
            </div>*@
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md mt-3 mb-3">
        <div class="k-card">
            <div class="k-card-header">
                Renee Davis Townsend
            </div>
            <div class="k-card-body">
                <p>Former business systems analyst and a business advisor pursuing a Master's in Software Engineering.</p>
            </div>
            @*<div class="k-card-actions">
                <span class="k-button k-flat k-primary">Action 1</span>
                <span class="k-button k-flat k-primary">Action 2</span>
            </div>*@
        </div>
    </div>
    <div class="col-md mt-3 mb-3">
        <div class="k-card">
            <div class="k-card-header">
                Tu Bui
            </div>
            <div class="k-card-body">
                <p>Business Analyst at a State Accounting Office with a Bachelor's degree in Accounting Finance pursuing a Master's in Software Engineering.</p>
            </div>
            @*<div class="k-card-actions">
                <span class="k-button k-flat k-primary">Action 1</span>
                <span class="k-button k-flat k-primary">Action 2</span>
            </div>*@
        </div>
    </div>
</div>

<style>
    .card-img {
        width: 200px;
        height: 200px;
    }
</style>