@model ProjectManagementSystem.Models.Risk

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

    <h4>Risk</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" id="RiskForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="RiskName"></label>
                    <input asp-for="RiskName" class="k-textbox" />
                    <span asp-validation-for="RiskName" class="text-danger k-invalid-msg" data-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RiskStatus"></label>
                    <input asp-for="RiskStatus" class="k-textbox" />
                    <span asp-validation-for="RiskStatus" class="text-danger k-invalid-msg" data-for="RiskStatus"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="k-button k-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="k-button">Back to List</a>
    </div>

    <script>
        $(document).ready(function () {
            $("#RiskForm").kendoValidator({
                // You can define your custom rules here:
                //rules: {}
            });
        })
    </script>
