@model ProjectManagementSystem.Models.TeamMember

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeamMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="TeamMemberForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="k-textbox" />
                            <span asp-validation-for="FirstName" class="text-danger k-invalid-msg" data-for="FirstName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="k-textbox" />
                            <span asp-validation-for="LastName" class="text-danger k-invalid-msg" data-for="LastName"></span>
                        </div>
<div class="form-group">
    <input type="submit" value="Create" class="k-button k-primary" />
</div>
</form>
</div>
</div>

<div>
    <a asp-action="Index" class="k-button">Back to List</a>
</div>

    <script>
        $(document).ready(function () {
            $("#TeamMemberForm").kendoValidator({
                // You can define your custom rules here:
                //rules: {}
            });
        })
    </script>
